<!-- Modal content-->

<h2 class="ml-4 title_main_page_margin">Накладна авіаційних квитків:
    <span>{{avia_invoice.Number}} від {{avia_invoice.Date}}</span>
  </h2>
  
  <!--Row MENU Buttons -->
  <div id="invoicePopup" class="ml-4 mr-4 pl-0 pr-0 clearfix">
    <div class="col-md-10 pl-0 pr-0 d-lg-inline d-none float-lg-left">
      <div class="d-inline pl-0 mr-my-1">
        <button type="button" class="btn btn-default my_button_style bold">
          <span class="my_button_label font-weight-bold">Провести та закрити</span>
        </button>
      </div>
      <div class="d-inline mr-my-1">
        <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="PrintMenu">Друк
          <span class="material-icons">keyboard_arrow_down</span>
        </button>
        <mat-menu #PrintMenu="matMenu">
          <button (click)="openPrintInvoice()" mat-menu-item class="my_menu_label">Друк акта</button>
          <button mat-menu-item class="my_menu_label">Друк накладної</button>
          <button mat-menu-item class="my_menu_label">Друк рахунка</button>
          <button mat-menu-item class="my_menu_label">Друк рахунка з печаткою</button>
        </mat-menu>
      </div>
      <div class="d-inline mr-my-1">
        <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="ChoiceMenu">Підбір
          <span class="material-icons">keyboard_arrow_down</span>
        </button>
        <mat-menu #ChoiceMenu="matMenu">
          <button (click)="openPrintInvoice()" mat-menu-item class="my_menu_label">Choice 1</button>
          <button mat-menu-item class="my_menu_label">Choice 2</button>
        </mat-menu>
      </div>
      <div class="d-inline mr-my-1">
        <button type="button" class="btn btn-default my_button_style my_square_button" (click)="save_update_avia_invoice(avia_invoice)"
          matTooltip="Записати">
          <span class="material-icons">save</span>
        </button>
      </div>
      <div class="d-inline mr-my-1">
        <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Провести">
          <span class="material-icons">offline_pin</span>
        </button>
      </div>
      <div class="d-inline mr-my-1">
        <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Закрити">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="d-inline mr-my-1">
        <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Завантаження ONLINE бронювання">
          <span class="material-icons">vertical_align_bottom</span>
        </button>
      </div>
    </div>
    <!--Container MENU Buttons End-->
  
    <!-- DropDown ALL Actions -->
    <div class="col-md-2 pl-0 pr-0 float-lg-right float-left">
      <div id="referencesButton" class="d-xl-inline d-none float-right">
        <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Довідка">
          <span class="material-icons">help_outline</span>
        </button>
      </div>
      <div class="allActionsMenu d-inline mr-my-1 float-left float-lg-right">
        <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="menu">Всі дії
          <span class="material-icons">keyboard_arrow_down</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons">offline_pin</span>
            </div>
            <span class="d-inline my_menu_label">Провести та закрити</span>
          </button>
          <button mat-menu-item>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons">library_books</span>
            </div>
            <span class="d-inline my_menu_label">Перечитати</span>
          </button>
          <button mat-menu-item>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons">filter_none</span>
            </div>
            <span class="d-inline my_menu_label">Скопіювати</span>
          </button>
          <button mat-menu-item>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons">remove_from_queue</span>
            </div>
            <span class="d-inline my_menu_label">Відмітити для вилучення / Зняти позначку</span>
          </button>
          <button mat-menu-item>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons">playlist_play</span>
            </div>
            <span class="d-inline my_menu_label">Показати у списку</span>
          </button>
          <button mat-menu-item>
            <span class="empty-icon d-inline my_menu_label">Друк</span>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons">chevron_right</span>
            </div>
          </button>
          <button mat-menu-item>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons"> filter_tilt_shift</span>
            </div>
            <span class="d-inline my_menu_label">Підбір</span>
          </button>
          <button mat-menu-item>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons">save</span>
            </div>
            <span class="d-inline my_menu_label">Записати</span>
          </button>
          <button mat-menu-item>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons">offline_pin</span>
            </div>
            <span class="d-inline my_menu_label">Провести</span>
          </button>
          <button mat-menu-item>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons">close</span>
            </div>
            <span class="d-inline my_menu_label">Закрити</span>
          </button>
          <button mat-menu-item>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons">cloud_download</span>
            </div>
            <span class="d-inline my_menu_label">Завантаження ONLINE бронювання</span>
          </button>
          <button mat-menu-item>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons">transform</span>
            </div>
            <span class="d-inline my_menu_label">Змінити форму...</span>
          </button>
          <button mat-menu-item>
            <div class="d-inline mr-3 my_menu_icon">
              <span class="material-icons">help_outline</span>
            </div>
            <span class="d-inline my_menu_label">Довідка</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <!-- DropDown ALL Actions end-->
  </div>
  <!--Row MENU Buttons End-->
  
  <!-- Invoice Popup Form Container -->
  <div class="ml-4 mr-4 mt-4 mb-4">
    <form class="form-horizontal" role="form">
  
      <div class="row mr-0 ml-0">
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Номер:" value="{{avia_invoice.Number}}" name="Number" disabled>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style ">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Дата:" name="avia_invoice.Date" [(ngModel)]="avia_invoice.Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style ">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Форма сплати:" aria-label="PaymentForm" matInput [formControl]="payment_form_input_autocomplete" [matAutocomplete]="PaymentForm"
              name="PaymentForm" [(ngModel)]="avia_invoice.PaymentForm">
            <mat-autocomplete #PaymentForm="matAutocomplete">
              <mat-option *ngFor="let payment_form of payment_forms" [value]="payment_form" (click)="avia_invoice.PaymentForm=payment_form">
                {{payment_form}}
              </mat-option>
            </mat-autocomplete>
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style ">
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Дата сплати:" [(ngModel)]="avia_invoice.PaymentDate" name="PaymentDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Квитків:" [value]="avia_invoice.TicketsCount">
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Всього:" value="{{get_total_amount_cost(avia_invoice)}}" disabled>
          </mat-form-field>
        </div>
      </div>
  
  
      <div class="row mr-0 ml-0">
        <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Клієнт:" [(ngModel)]="avia_invoice.ClientId" name="ClientId" />
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Дата послуг:" [(ngModel)]="avia_invoice.ServiceDate" name="ServiceDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style my_ng_checkbox">
          <mat-checkbox class="" primary [(ngModel)]="avia_invoice.IsVoid" name="IsVoid">Без реалізації:</mat-checkbox>
        </div>
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style my_ng_checkbox">
          <mat-checkbox class="" primary [(ngModel)]="avia_invoice.IsReturned" name="IsReturned">Повернення:</mat-checkbox>
        </div>
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style my_ng_checkbox">
          <mat-checkbox class="" primary [(ngModel)]="avia_invoice.IsPaid" name="IsPaid">Сплачено:</mat-checkbox>
        </div>
      </div>
  
  
      <div class="row mr-0 ml-0">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 p-2 form-group col-lg-3 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Групове замовлення:" aria-label="GroupInvoiceId" matInput [formControl]="input_autocomplete"
              [matAutocomplete]="GroupInvoiceId" name="GroupInvoiceId" [(ngModel)]="avia_invoice.GroupInvoiceId.Content">
            <mat-autocomplete #GroupInvoiceId="matAutocomplete">
              <mat-option *ngFor="let group_invoice of avia_group_invoices" [value]="group_invoice.Content" (click)="avia_invoice.GroupInvoiceId=group_invoice._id">
                {{group_invoice.Content}}
              </mat-option>
            </mat-autocomplete>
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Валюта пропозиції:" aria-label="OfferCurrency" matInput [formControl]="offer_currency_input_autocomplete"
              [matAutocomplete]="OfferCurrency" [(ngModel)]="avia_invoice.OfferCurrency" name="OfferCurrency">
            <mat-autocomplete #OfferCurrency="matAutocomplete">
              <mat-option *ngFor="let currency of currencies" [value]="currency" (click)="avia_invoice.OfferCurrency=currency">
                {{currency}}
              </mat-option>
            </mat-autocomplete>
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Підсумкова валюта:" aria-label="TotalCurrency" matInput [formControl]="total_currency_input_autocomplete"
              [matAutocomplete]="TotalCurrency" [(ngModel)]="avia_invoice.TotalCurrency" name="TotalCurrency">
            <mat-autocomplete #TotalCurrency="matAutocomplete">
              <mat-option *ngFor="let currency of currencies" [value]="currency" (click)="avia_invoice.TotalCurrency=currency">
                {{currency}}
              </mat-option>
            </mat-autocomplete>
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
  
      <!-- <mat-form-field class="example-full-width">
          <input type="text" placeholder="Підсумкова валюта:" aria-label="Number" matInput [formControl]="counterparty_names_control"
            [matAutocomplete]="auto" [(ngModel)]="client" name="Client" (keyup)="load_couterparty_names(client)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let currency of currencies" [value]="counterparty_name.Name" (click)="curator.ClientId=counterparty_name._id">
              {{counterparty_name.Name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
  
  
  
      <div class="row mr-0 ml-0">
        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Постачальник:" [(ngModel)]="avia_invoice.ProviderId" name="ProviderId" />
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Сплата такси:" [(ngModel)]="avia_invoice.TaxesPayment" name="TaxesPayment" [(ngModel)]="avia_invoice.TaxesPayment"
              name="TaxesPayment" />
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Куратор:" [(ngModel)]="avia_invoice.CuratorId" name="CuratorId" />
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-3 col-md-12 col-sm-12 col-xs-12 p-2 my_input_style">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Код бронювання:" [(ngModel)]="avia_invoice.BookingCode" name="BookingCode">
          </mat-form-field>
        </div>
      </div>
  
  
      <div class="row mr-0 ml-0">
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field>
            <mat-select placeholder="Обмін валют:">
              <mat-option *ngFor="let currency of currencyExchange" [value]="currencyExchange.value">
                {{ currency.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field>
            <input matInput [matDatepicker]="picker3" placeholder="На дату:">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-2 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Вид сервісу:" [(ngModel)]="avia_invoice.ServiceTypeId" name="ServiceTypeId" />
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12 p-2 my_input_style">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Розрахунковий рахунок:" [(ngModel)]="avia_invoice.CheckingAccount" name="CheckingAccount"
            />
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <button mat-button matSuffix mat-icon-button aria-label="Search">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
  
  
      <div class="row mr-0 ml-0 mb-4">
        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Коментар:" [(ngModel)]="avia_invoice.Comment" name="Comment">
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Відповідальний:" [(ngModel)]="avia_invoice.ResponsibleAgent" name="ResponsibleAgent" />
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Агент:" [(ngModel)]="avia_invoice.Agent" name="Agent" />
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-6 p-2 my_input_style">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Код РМ:" [(ngModel)]="avia_invoice.PmCode" name="PmCode">
          </mat-form-field>
        </div>
      </div>
  
  
      <!-- Angular Material Tabs -->
      <mat-tab-group>
        <mat-tab activelabel label="Детальна інформація">
          <div id="document_content" class="mb-4 mt-4">
  
            <div class="row ml-0 mr-0">
              <div class="form-group col-4 p-2 my_input_style">
                <mat-form-field class="example-form-field">
                  <input matInput type="text" placeholder="Прізвище:" [(ngModel)]="avia_invoice.DetailInfo.NameId" name="DetailInfoNameId" />
                  <button mat-button matSuffix mat-icon-button aria-label="Settings">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                </mat-form-field>
              </div>
  
              <div class="form-group col-4 p-2 my_input_style">
                <mat-form-field class="example-form-field">
                  <input matInput type="text" placeholder="Номер квитка:" [(ngModel)]="avia_invoice.DetailInfo.TicketNumber" name="TicketNumber" />
                </mat-form-field>
              </div>
  
              <!-- <div class="form-group col-4 p-2 my_input_style">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker4" placeholder="Дата покупки:">
                  <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </div> -->
            </div>
  
  
            <div class="row ml-0 mr-0 mt-4 mb-4 all_flight_info">
              <div class="my_flight_info col-lg-12">
                <label class="control-label">Виліт: із ... в ...</label>
              </div>
              <div class="my_flight_info col-lg-12 mb-4">
                <label class="control-label">Приліт: в ... в ...</label>
              </div>
            </div>
  
            <!-- Fieldsets -->
            <div class="row mr-0 ml-0 mt-4">
              <!-- Fieldset 1 -->
              <div class="mr-0 ml-0 col-12 pl-0 pr-0">
                <div class="row mr-0 ml-0">
                  <!-- Section 1 -->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="form-group col-12 p-2 mr-0 ml-0 clearfix my_input_style">
                      <h4 class="control-label float-left">Вартість постачальника:</h4>
                    </div>
  
                    <div class="row mr-0 ml-0">
                      <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Сума постач.:" [(ngModel)]="avia_invoice.DetailInfo.SupplierCost.Sum" name="SupplierCost.Sum">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="В т.ч. ПДВ:" [(ngModel)]="avia_invoice.DetailInfo.SupplierCost.MPE" name="SupplierCost.MPE">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input type="text" placeholder="Валюта:" aria-label="SupplierCostCurrency" matInput [formControl]="supplier_cost_input_autocomplete" [matAutocomplete]="SupplierCostCurrency"
                            name="SupplierCostCurrency">
                          <mat-autocomplete #SupplierCostCurrency="matAutocomplete">
                            <mat-option *ngFor="let currency of currencies" [value]="currency" (click)="avia_invoice.DetailInfo.SupplierCost.Currency=currency">
                              {{currency}}
                            </mat-option>
                          </mat-autocomplete>
                          <button mat-button matSuffix mat-icon-button aria-label="Settings">
                            <mat-icon>more_horiz</mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- END Section 1 -->
  
  
                  <!-- Section 2 -->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="form-group col-12 p-2 mr-0 ml-0 clearfix my_input_style">
                      <h4 class="control-label float-left">Комісія постачальника:</h4>
                    </div>
  
                    <div class="row mr-0 ml-0">
                      <div class="form-group col-lg-3 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="%:" [(ngModel)]="avia_invoice.DetailInfo.SupplierCommision.Percent" name="SupplierCommision.Percent">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-3 col-xs-12  p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Сума:" [(ngModel)]="avia_invoice.DetailInfo.SupplierCommision.Sum" name="SupplierCommision.Sum">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-3 col-xs-12  p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="В т.ч. ПДВ:" [(ngModel)]="avia_invoice.DetailInfo.SupplierCommision.MPE" name="SupplierCommision.MPE">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-3 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input type="text" placeholder="Валюта:" aria-label="SupplierCommisionCurrency" matInput [formControl]="supplier_commission_input_autocomplete"
                            [matAutocomplete]="SupplierCommisionCurrency" name="SupplierCommisionCurrency">
                          <mat-autocomplete #SupplierCommisionCurrency="matAutocomplete">
                            <mat-option *ngFor="let currency of currencies" [value]="currency" (click)="avia_invoice.DetailInfo.SupplierCommision.Currency=currency">
                              {{currency}}
                            </mat-option>
                          </mat-autocomplete>
                          <button mat-button matSuffix mat-icon-button aria-label="Settings">
                            <mat-icon>more_horiz</mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- END Section 2 -->
  
  
                  <!-- Section 3 -->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="form-group col-12 p-2 mr-0 ml-0 clearfix my_input_style">
                      <h4 class="control-label float-left">Штраф:</h4>
                    </div>
  
                    <div class="row mr-0 ml-0">
                      <div class="form-group col-lg-4 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Сума:" [(ngModel)]="avia_invoice.DetailInfo.Forfeit.Sum" name="Forfeit.Sum">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-4 col-xs-12  p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="В т.ч. ПДВ:" [(ngModel)]="avia_invoice.DetailInfo.Forfeit.MPE" name="Forfeit.MPE">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-4 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input type="text" placeholder="Валюта:" aria-label="ForfeitCurrency" matInput [formControl]="forfeit_input_autocomplete" [matAutocomplete]="ForfeitCurrency"
                            name="ForfeitCurrency">
                          <mat-autocomplete #ForfeitCurrency="matAutocomplete">
                            <mat-option *ngFor="let currency of currencies" [value]="currency" (click)="avia_invoice.DetailInfo.Forfeit.Currency=currency">
                              {{currency}}
                            </mat-option>
                          </mat-autocomplete>
                          <button mat-button matSuffix mat-icon-button aria-label="Settings">
                            <mat-icon>more_horiz</mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- END Section 3 -->
  
  
                  <!-- Section 4 -->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="form-group col-12 p-2 mr-0 ml-0 clearfix my_input_style">
                      <h4 class="control-label float-left">Використанний тариф постачальника:</h4>
                    </div>
  
                    <div class="row mr-0 ml-0">
                      <div class="form-group col-lg-4 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Тариф:" [(ngModel)]="avia_invoice.DetailInfo.UsedSupplierRate.MPE" name="UsedSupplierRate.Sum">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-4 col-xs-12  p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="В т.ч. ПДВ:" [(ngModel)]="avia_invoice.DetailInfo.UsedSupplierRate.MPE" name="UsedSupplierRate.MPE">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-4 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input type="text" placeholder="Валюта:" aria-label="UsedSupplierRateCurrency" matInput [formControl]="used_supplier_rate_input_autocomplete"
                            [matAutocomplete]="UsedSupplierRate" name="UsedSupplierRate">
                          <mat-autocomplete #UsedSupplierRate="matAutocomplete">
                            <mat-option *ngFor="let currency of currencies" [value]="currency" (click)="avia_invoice.DetailInfo.UsedSupplierRate.Currency=currency">
                              {{currency}}
                            </mat-option>
                          </mat-autocomplete>
                          <button mat-button matSuffix mat-icon-button aria-label="Settings">
                            <mat-icon>more_horiz</mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- END Section 4 -->
  
  
                  <!-- Section 5 -->
                  <div class="col-lg-4 col-md-4">
                    <div class="form-group col-12 p-2 mr-0 ml-0 clearfix my_input_style">
                      <h4 class="control-label float-left">Додаткова комісія постачальника:</h4>
                    </div>
  
                    <div class="row mr-0 ml-0">
                      <div class="form-group col-lg-3 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Сума:" [(ngModel)]="avia_invoice.DetailInfo.AdditionalSupplierComission.Sum" name="AdditionalSupplierComission.Sum">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-3 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Сума готівка:" [(ngModel)]="avia_invoice.DetailInfo.AdditionalSupplierComission.CashSum" name="AdditionalSupplierComission.CashSum">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-3 col-xs-12  p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="В т.ч. ПДВ:" [(ngModel)]="avia_invoice.DetailInfo.AdditionalSupplierComission.MPE" name="AdditionalSupplierComission.MPE">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-3 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input type="text" placeholder="Валюта:" aria-label="AdditionalSupplierComissionCurrency" matInput [formControl]="additional_supplier_commission_input_autocomplete"
                            [matAutocomplete]="AdditionalSupplierComissionCurrency" name="AdditionalSupplierComissionCurrency">
                          <mat-autocomplete #AdditionalSupplierComissionCurrency="matAutocomplete">
                            <mat-option *ngFor="let currency of currencies" [value]="currency" (click)="avia_invoice.DetailInfo.AdditionalSupplierComission.Currency=currency">
                              {{currency}}
                            </mat-option>
                          </mat-autocomplete>
                          <button mat-button matSuffix mat-icon-button aria-label="Settings">
                            <mat-icon>more_horiz</mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- END Section 5 -->
  
  
                  <!-- Section 6 -->
                  <div class="col-lg-4 col-md-4">
                    <div class="form-group col-12 p-2 mr-0 ml-0 clearfix my_input_style">
                      <h4 class="control-label float-left">Використання такси:</h4>
                    </div>
  
                    <div class="row mr-0 ml-0">
                      <div class="form-group col-lg-4 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Сума постач.:" [(ngModel)]="avia_invoice.DetailInfo.UsedTaxes.Sum" name="UsedTaxes.Sum">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-4 col-xs-12  p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="В т.ч. ПДВ:" [(ngModel)]="avia_invoice.DetailInfo.UsedTaxes.MPE" name="UsedTaxes.MPE">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-4 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input type="text" placeholder="Валюта:" aria-label="UsedTaxesCurrency" matInput [formControl]="used_taxes_input_autocomplete" [matAutocomplete]="UsedTaxesCurrency"
                            name="UsedTaxesCurrency">
                          <mat-autocomplete #UsedTaxesCurrency="matAutocomplete">
                            <mat-option *ngFor="let currency of currencies" [value]="currency" (click)="avia_invoice.DetailInfo.UsedTaxes.Currency=currency">
                              {{currency}}
                            </mat-option>
                          </mat-autocomplete>
                          <button mat-button matSuffix mat-icon-button aria-label="Settings">
                            <mat-icon>more_horiz</mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- END Section 6 -->
  
  
                  <!-- Section 7 -->
                  <div class="col-lg-4 col-md-4">
                    <div class="form-group col-12 p-2 mr-0 ml-0 clearfix my_input_style">
                      <h4 class="control-label float-left">Послуги агенції:</h4>
                    </div>
  
                    <div class="row mr-0 ml-0">
                      <div class="form-group col-lg-2 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="%:" [(ngModel)]="avia_invoice.DetailInfo.AgencyServices.Percent" name="AgencyServices.Percent">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-3 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Сума:" [(ngModel)]="avia_invoice.DetailInfo.AgencyServices.Sum" name="AgencyServices.Sum">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-2 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="% банку:" [(ngModel)]="avia_invoice.DetailInfo.AgencyServices.BankPercent" name="AgencyServices.BankPercent">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-3 col-xs-12  p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="В т.ч. ПДВ:" [(ngModel)]="avia_invoice.DetailInfo.AgencyServices.MPE" name="AgencyServices.MPE">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-2 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input type="text" placeholder="Валюта:" aria-label="AgencyServicesCurrency" matInput [formControl]="agency_services_input_autocomplete"
                            [matAutocomplete]="AgencyServicesCurrency" name="AgencyServicesCurrency">
                          <mat-autocomplete #AgencyServicesCurrency="matAutocomplete">
                            <mat-option *ngFor="let currency of currencies" [value]="currency" (click)="avia_invoice.DetailInfo.AgencyServices.Currency=currency">
                              {{currency}}
                            </mat-option>
                          </mat-autocomplete>
                          <button mat-button matSuffix mat-icon-button aria-label="Settings">
                            <mat-icon>more_horiz</mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- END Section 7 -->
  
  
                  <!-- Section 8 -->
                  <div class="col-lg-4 col-md-4">
                    <div class="form-group col-12 p-2 mr-0 ml-0 clearfix my_input_style">
                      <h4 class="control-label float-left">Інші послуги:</h4>
                    </div>
  
                    <div class="row mr-0 ml-0">
                      <div class="form-group col-lg-4 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Сума:" [(ngModel)]="avia_invoice.DetailInfo.OtherServices.Sum" name="OtherServices.Sum">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-4 col-xs-12  p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="В т.ч. ПДВ:" [(ngModel)]="avia_invoice.DetailInfo.OtherServices.MPE" name="OtherServices.MPE">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-4 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input type="text" placeholder="Валюта:" aria-label="OtherServicesCurrency" matInput [formControl]="other_services_input_autocomplete" [matAutocomplete]="OtherServicesCurrency"
                            name="OtherServicesCurrency">
                          <mat-autocomplete #OtherServicesCurrency="matAutocomplete">
                            <mat-option *ngFor="let currency of currencies" [value]="currency" (click)="avia_invoice.DetailInfo.OtherServices.Currency=currency">
                              {{currency}}
                            </mat-option>
                          </mat-autocomplete>
                          <button mat-button matSuffix mat-icon-button aria-label="Settings">
                            <mat-icon>more_horiz</mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- END Section 8 -->
  
                  <!-- Section 9 -->
                  <div class="col-lg-4 col-md-4">
                    <div class="form-group col-12 p-2 mr-0 ml-0 clearfix my_input_style">
                      <h4 class="control-label float-left">Всього:</h4>
                    </div>
  
                    <div class="row mr-0 ml-0">
                      <div class="form-group col-lg-4 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Сума:" value="{{get_total_amount_cost(avia_invoice)}}" disabled name="TotalAmount.MPE">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-4 col-xs-12  p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="В т.ч. ПДВ:" [(ngModel)]="avia_invoice.DetailInfo.TotalAmount.MPE" name="TotalAmount.MPE">
                        </mat-form-field>
                      </div>
  
                      <div class="form-group col-lg-4 col-xs-12 p-2 mr-0 ml-0 my_input_style">
                        <mat-form-field class="example-full-width">
                          <input type="text" placeholder="Валюта:" aria-label="TotalAmountCurrency" matInput [formControl]="total_amount_input_autocomplete" [matAutocomplete]="TotalAmountCurrency"
                            name="TotalAmountCurrency">
                          <mat-autocomplete #TotalAmountCurrency="matAutocomplete">
                            <mat-option *ngFor="let currency of currencies" [value]="currency" (click)="avia_invoice.DetailInfo.TotalAmount.Currency=currency">
                              {{currency}}
                            </mat-option>
                          </mat-autocomplete>
                          <button mat-button matSuffix mat-icon-button aria-label="Settings">
                            <mat-icon>more_horiz</mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- END Section 9 -->
                </div>
              </div>
            </div>
            <!-- Fieldsets - End -->
  
  
            <div class="row ml-0 mr-0">
              <div class="form-group col-12 p-2 my_input_style">
                <mat-form-field class="example-form-field">
                  <input matInput type="text" placeholder="Детальна інформація:" [(ngModel)]="avia_invoice.DetailInfo.AdditionalInfo" name="AdditionalInfo"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- TAB 1 - END -->
  
  
        <!-- TAB 2 - START -->
        <mat-tab label="Інформація про рейс">
          <div class="mb-4 mt-4">
  
            <!-- Table Controls -->
            <div class="pl-0 mt-4 pr-0 clearfix">
              <div class="col-md-10 pl-0 pr-0 d-lg-inline d-none float-lg-left">
                <div class="d-inline mr-my-1">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Скопіювати">
                    <span class="material-icons">filter_none</span>
                  </button>
                </div>
                <div class="d-inline mr-my-1">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Вилучити">
                    <span class="material-icons">delete_sweep</span>
                  </button>
                </div>
                <div class="d-inline mr-my-1">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Перемістити вверх">
                    <span class="material-icons">arrow_upward</span>
                  </button>
                </div>
                <div class="d-inline mr-my-1">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Перемістити вниз">
                    <span class="material-icons">arrow_downward</span>
                  </button>
                </div>
              </div>
              <!-- Button Row - End -->
              <!-- DropDown ALL Actions -->
              <div class="col-md-2 pl-0 pr-0 float-lg-right float-left">
                <div id="referencesButton" class="d-lg-inline d-none float-right">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Довідка">
                    <span class="material-icons">help_outline</span>
                  </button>
                </div>
                <div class="allActionsMenu d-inline mr-my-1 float-left float-lg-right">
                  <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="menu">Всі дії
                    <span class="material-icons">keyboard_arrow_down</span>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">location_searching</span>
                      </div>
                      <span class="d-inline my_menu_label">Знайти</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">location_disabled</span>
                      </div>
                      <span class="d-inline my_menu_label">Відмінити пошук</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">settings</span>
                      </div>
                      <span class="d-inline my_menu_label">Настроїти список...</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">done_all</span>
                      </div>
                      <span class="d-inline my_menu_label">Вивести список...</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">refresh</span>
                      </div>
                      <span class="d-inline my_menu_label">Оновити</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
              <!-- DropDown ALL Actions end-->
            </div>
            <!-- Table Controls - End -->
  
            <!-- Popup Table -->
            <div class="mt-2 ml-0 mr-0 my_table_style">
              <div class="col-md-12 pl-0 pr-0 mb-0 table-responsive">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="code_column">N</th>
                      <th scope="col">Номер рейсу</th>
                      <th scope="col">Місце</th>
                      <th scope="col">Місце відправлення</th>
                      <th scope="col">Місце прибуття</th>
                      <th scope="col" class="code_column">Тип сервісу</th>
                      <th scope="col">Час відправлення</th>
                      <th scope="col">Час прибуття</th>
                  </thead>
                  <tbody>
                    <tr class="main" *ngFor="let invoice of avia_invoice.FlightInfo; let i = index;">
                      <td class="text-center" scope="row">{{i + 1}}</td>
                      <td class="text-center">{{invoice.FlightNumber}}</td>
                      <td class="text-center">{{invoice.Place}}</td>
                      <td class="text-center">{{invoice.DeparturePlace}}</td>
                      <td class="text-center">{{invoice.ArrivalPlace}}</td>
                      <td class="text-center">{{invoice.ServiceType}}</td>
                      <td class="text-center">{{invoice.DepartureTime}}</td>
                      <td class="text-center">{{invoice.ArrivalTime}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Popup Table - End -->
  
          </div>
        </mat-tab>
        <!-- TAB 2 - END -->
  
        <mat-tab label="Квитки">
          <!-- TAB 3 - START -->
          <div class="mb-4">
            <!-- Table Controls -->
            <div class="pl-0 mt-4 pr-0 clearfix">
              <div class="col-md-10 pl-0 pr-0 d-lg-inline d-none float-lg-left">
                <div class="d-inline mr-my-1">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Скопіювати">
                    <span class="material-icons">filter_none</span>
                  </button>
                </div>
                <div class="d-inline mr-my-1">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Вилучити">
                    <span class="material-icons">delete_sweep</span>
                  </button>
                </div>
                <div class="d-inline mr-my-1">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Перемістити вверх">
                    <span class="material-icons">arrow_upward</span>
                  </button>
                </div>
                <div class="d-inline mr-my-1">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Перемістити вниз">
                    <span class="material-icons">arrow_downward</span>
                  </button>
                </div>
              </div>
              <!-- Button Row - End -->
              <!-- DropDown ALL Actions -->
              <div class="col-md-2 pl-0 pr-0 float-lg-right float-left">
                <div id="referencesButton" class="d-lg-inline d-none float-right">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Довідка">
                    <span class="material-icons">help_outline</span>
                  </button>
                </div>
                <div class="allActionsMenu d-inline mr-my-1 float-left float-lg-right">
                  <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="menu">Всі дії
                    <span class="material-icons">keyboard_arrow_down</span>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">filter_none</span>
                      </div>
                      <span class="d-inline my_menu_label">Скопіювати</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">edit</span>
                      </div>
                      <span class="d-inline my_menu_label">Змінити</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">delete_sweep</span>
                      </div>
                      <span class="d-inline my_menu_label">Вилучити</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">done_all</span>
                      </div>
                      <span class="d-inline my_menu_label">Вивести список...</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">save</span>
                      </div>
                      <span class="d-inline my_menu_label">Закінчити редагування</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">location_searching</span>
                      </div>
                      <span class="d-inline my_menu_label">Знайти...</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
              <!-- DropDown ALL Actions end-->
            </div>
            <!-- Table Controls - End -->
            <!-- Popup Table -->
            <div class="mt-2 ml-0 mr-0 my_table_style">
              <div class="col-md-12 pl-0 pr-0 mb-0 table-responsive">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="code_column">N</th>
                      <th scope="col">Прізвище</th>
                      <th scope="col">Номер квитка</th>
                  </thead>
                  <tbody>
                    <tr class="main">
                      <td class="text-center" scope="row">1</td>
                      <td class="text-center">{{avia_invoice.TicketInfo.Name}}</td>
                      <td class="text-center">{{avia_invoice.TicketInfo.TicketNumber}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Popup Table - End -->
            <div class="row ml-0 mr-0">
              <div class="form-group col-12 p-2 my_input_style">
                <mat-form-field class="example-form-field">
                  <input matInput type="text" placeholder="Документ, що повертається:" [(ngModel)]="avia_invoice.ReturnedDocument" name="ReturnedDocument" />
                  <button mat-button matSuffix mat-icon-button aria-label="Settings">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <button mat-button matSuffix mat-icon-button aria-label="Search">
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- TAB 3 - END -->
      </mat-tab-group>
      <!-- Angular Material Tabs - End -->
    </form>
  </div>
  
  <!-- Popup Footer -->
  
  <div id="invoiceModalFooter">
    <div class="mr-4 mb-4 float-right">
      <button type="button" class="btn btn-default my_button_style" (click)="close_dialog(avia_invoice)">
        <span class="pr-3 my_button_label">Закрити</span>
      </button>
    </div>
  </div>
  <!-- Popup Footer - End -->