<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Видаткова накладна №<%= %> від <%= creation_date%></title>
    <style>
            body,
            ul,
            p {
              margin: 0px;
              padding: 0px;
            }
            body {
              width: 210mm;
              height: 297mm;
              box-sizing: border-box;
              padding-left: 20mm;
              padding-right: 5mm;
            }
            hr {
              height: 2px;
              background-color: black;
            }
      
            table {
              width: 100%;
              border-collapse: collapse;
            }
            td > hr {
              width: 50%;
            }
            .header {
              text-align: left;
            }
          </style>
</head>
<body>
    <h3>Видаткова накладна №<%= number %> від <%= creation_date%></h3>
    <hr/>
    <!-- Шапка -->
    <table>
        <tr>
            <td style="width: 20%;">Постачальник:</td>
            <td>
                <b>Товариство з обмеженою відповідальністю "ВОРЛДСЕРВІС ГРУП"</b><br/>
                Р/р 26001402367063, у банку АТ "ОТП БАНК" в м.Київ, МФО 300528,<br/>
                юр. адреса: Україна, 01133, м.Київ, вул. Щорса, буд. 32-А, н/п № 1-А, тел.: 0445202727,<br/>
                код за ЄДРПОУ 32158383, ІПН 321583826558
            </td>
        </tr>
        <tr>
            <td>Покупець:</td>
            <!-- Має бути з квитка -->
            <td><b>ФІЗИЧНА ОСОБА</b></td> 
        </tr>
        <tr>
                <td>Договір:</td>
                <td>ОСНОВНИЙ по рахунках</td>
            </tr>
    </table>
    <br/>
    <!-- Основная таблица -->
    <table border="1">
        <thead>
            <tr>
                <th style="text-align: center; width: 5%;">№</th>
                <th style="text-align: center; width: 55%;">Товар</th>
                <th style="text-align: center; width: 10%;">Кіл-ть</th>
                <th style="text-align: center; width: 10%;">Од.</th>
                <th style="text-align: center; width: 10%;">Ціна з ПДВ</th>
                <th style="text-align: center; width: 10%;">Сума з ПДВ</th>
            </tr>
        </thead>
        <% let i = 0; %>
        <tr>
            <td style="text-align: center"><%= ++i%>.</td>
            <td style="text-align: justify">
                Залізничний квиток (№<%= detail_info.ticket_number %>) для (<%= detail_info.surname_id %>) тип та номер вагону (№<%= detail_info.carriage_number %>),
                місце (№<%= detail_info.place %>), потяг (№<%= detail_info.train_number %>) за маршрутом (<%= detail_info.departure_station_id.name_ukr %> : <%= detail_info.arrival_station_id.name_ukr %>), дата та час відправлення (<%= detail_info.departure_dt %>),
                дата та час прибуття (<%= detail_info.arrival_dt %>).
            </td>
            <td style="text-align: center">1</td>
            <td style="text-align: center">шт</td>
            <td style="text-align: center"><%= detail_info.supplier_cost.sum %></td>
            <td style="text-align: center"><%= detail_info.supplier_cost.sum %></td>
        </tr>

        <% if(detail_info.other_services.sum != 0) {%>
        <tr style="border: 1px solid black;">
            <td style="text-align: center; width: 5%;"><%= ++i%>.</td>
            <td style="text-align: justify; width: 55%;">
                Послуги з оформлення електронного ваучера (№<%= detail_info.ticket_number %>) для (<%= detail_info.surname_id %>)
            </td>
            <td style="text-align: center">1</td>
            <td style="text-align: center">грн</td>
            <td style="text-align: center"><%= detail_info.other_services.sum %></td>
            <td style="text-align: center"><%= detail_info.other_services.sum %></td>
        </tr>
        <%} %>

        <% if(detail_info.agency_services.sum != 0) {%>
            <tr style="border: 1px solid black;">
              <td style="text-align: center; width: 5%;"><%= ++i%>.</td>
              <td style="text-align: justify; width: 55%;">
                  Послуги агенції за оформлення квитка (№<%= detail_info.ticket_number %>) для (<%= detail_info.surname_id %>)
              </td>
              <td style="text-align: center">1</td>
              <td style="text-align: center">грн</td>
              <td style="text-align: center"><%= detail_info.agency_services.sum %></td>
              <td style="text-align: center"><%= detail_info.agency_services.sum %></td>
            </tr>
        <%} %>
        <tfoot>
            <tr style="font-weight: 700; text-align: right; border: 1px solid white;">
                <td colspan="5">Всього:</td>
                <td><%= detail_info.total_amount.sum %></td>
                </tr>
                <tr style="font-weight: 700; text-align: right; border: 1px solid white;">
                <td colspan="5">У тому числі ПДВ:</td>
                <td><%= detail_info.total_amount.mpe %></td>
            </tr>
        </tfoot>
    </table>
    <br/>
    <p>
        Всього найменувань = <%= i%>, на суму = <%= detail_info.total_amount.sum %><br/>
        <b><%=written_sum.total_amount_full %> грн. <%=written_sum.total_amount_coins %> коп.</b><br/>
        <b>У т.ч. ПДВ <%=written_sum.total_amount_full_mpe %> грн. <%=written_sum.total_amount_mpe_coins %> коп.</b>
    </p>
    <br/>
    <p>
        Місце складання: м.Київ
    </p>
    <hr style="height: 2px;" />
    <br/>
    <table>
        <tr>
            <td>Відвантажив(ла)*</td>
            <td>Отримав(ла)</td>
        </tr>
        <tr>
            <td style="text-align: left;"><hr style="display: inline-block; width: 95%;" /></td>
            <td style="text-align: left;"><hr style="display: inline-block; width: 95%;" /></td>
        </tr>
        <tr>
            <td style="width: 50%; text-align: justify;">
                <div style="padding-right: 20px;">
                    <p>
                       *Відповідальний за здійснення господарської операції і правильність її оформлення
                    </p>
                    <p>
                        Генеральний директор Ігор Дзуєнко
                    </p>
                    <p>
                        igor@worldservice.ua +044 520 27 27 внутр 700
                    </p>
                </div>
            </td>
            <td style="width: 50%; text-align: left;">
                За довіреністю _______________ №______________ від ____________
            </td>
        </tr>
    </table>
</body>
</html>