<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      body,
      ul,
      p {
        margin: 0px;
        padding: 0px;
      }
      body {
        width: 210mm;
        height: 297mm;
        border: 1px solid black;
        padding: 5mm;
        padding-left: 20mm;
      }
      hr {
        height: 2px;
        background-color: black;
      }
      td > hr {
        width: 50%;
      }
      .header {
        text-align: left;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <h2>
        АКТ здачі-прийняття робіт (надання послуг) № #Номер# від #12 квітня
        2018р.#
      </h2>
    </div>

    <hr />

    <p>
      Ми, що нижче підписалися, представник Замовника #Фізична особа#, з одного
      боку, і представник Виконавця Товариство з обмеженою відповідальністю
      "ВОРЛДСЕРВІС ГРУП" Генеральний директор Ігор Дзуєнко, з іншого боку,
      склали цей акт про те, що на підставі наведених документів:
    </p>
    <p>Договір: ОСНОВНИЙ по рахунках</p>
    <p>Виконавцем були виконані наступні роботи (надані такі послуги):</p>
    <table border="1">
      <thead>
        <tr>
          <th>№</th>
          <th>Найменування робіт, послуг</th>
          <th>Кіл-ть</th>
          <th>Од.</th>
          <th>Ціна з ПДВ</th>
          <th>Сума з ПДВ</th>
        </tr>
      </thead>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Всього:</td>
          <td></td>
          <td>#11749,00#</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>У тому числі ПДВ:</td>
          <td></td>
          <td></td>
          <td>#75,00#</td>
        </tr>
      </tfoot>
    </table>
    <p>
      Загальна вартість робіт (послуг) без ПДВ склала #Одинадцять тисяц шістсот
      сімдесят чотири# гривні #00# копійок. ПДВ #Сімдесят п'ять# гривень #00#
      копійок, загальна вартість робіт (послуг) з ПДВ #Одинадцять тисяц сімсот
      сорок дев'ять# гривень #00# копійок. Замовник претензій по об'єму, якості
      та строкам виконання робіт (надання послуг) не має.
    </p>
    <p>Місце складання: м. Київ</p>
    <hr />
    <table border="1">
      <tr>
        <td>Від виконавця*</td>
        <td>Від замовника</td>
      </tr>
      <tr>
        <td class="hr"><hr /></td>
        <td class="hr"><hr /></td>
      </tr>
      <tr>
        <td>
          <span>Генеральний директор Ігор Дзуєнко</span> *Відповідальний за
          здійснення господарської операції і правильність її оформлення
          <span>#24.04.2018#</span> Товариство з обмеженою выдповыдальныстю
          "ВОРЛДСЕРВЫС ГРУП" код за ЭДРПОУ 32158383, тел.: 0445202727, ІПН
          321583826558, р/р 26001402367063, у банку АТ "ОТП БАНК" в м. Київ, МФО
          300528 юр. адреса: Україна, 01133, м.Київ, вул. Щорса, буд. 32-А, н/п
          № 1-А
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
