<h3 class="ml-4 title_main_page_margin">
    Договори контрагентів
</h3>

<div class="ml-4 mr-4 pl-0 pr-0 clearfix">
    <div class="col-md-10 pl-0 pr-0 d-inline float-lg-left">
        <!-- Створити -->
        <button (click)="openDialog()" mat-raised-button class="mr-2 form_button" matTooltip="Створити">
            Створити
            <span class="material-icons">add</span>
        </button>
        <!-- Створити групу -->
        <button mat-raised-button class="mr-2 form_button icon_button" matTooltip="Створити групу">
            <span class="material-icons">playlist_add</span>
        </button>
        <!-- Знайти -->
        <button mat-raised-button class="mr-2 form_button" matTooltip="Скопіювати">
            Знайти
            <span class="material-icons">location_searching</span>
        </button>
        <!-- Відмінити пошук -->
        <button mat-raised-button class="form_button icon_button" matTooltip="Відмінити пошук">
            <span class="material-icons">location_disabled</span>
        </button>
    </div>

    <!-- DropDown ALL Actions -->
    <div class="col-md-2 pl-0 pr-0 float-lg-right float-left">
        <button mat-raised-button class="form_button icon_button float-right" matTooltip="Довідка">
            <span class="material-icons">help_outline</span>
        </button>

        <div class="allActionsMenu d-inline mr-my-1 float-left float-lg-right">
            <!-- Всі дії -->
            <button mat-raised-button class="mr-2 form_button" [matMenuTriggerFor]="menu">
                Всі дії
                <span class="material-icons">keyboard_arrow_down</span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog()">
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">add</span>
                    </div>
                    <span class="d-inline my_menu_label">Створити</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">playlist_add</span>
                    </div>
                    <span class="d-inline my_menu_label">Створити групу</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">filter_none</span>
                    </div>
                    <span class="d-inline my_menu_label">Скопіювати</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">edit</span>
                    </div>
                    <span class="d-inline my_menu_label">Змінити</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">remove_from_queue</span>
                    </div>
                    <span class="d-inline my_menu_label">Відмітити для вилучення / Зняти позначку</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">refresh</span>
                    </div>
                    <span class="d-inline my_menu_label">Оновити</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">remove_red_eye</span>
                    </div>
                    <span class="d-inline my_menu_label">Режим перегляду</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">playlist_add_check</span>
                    </div>
                    <span class="d-inline my_menu_label">Перемістити до групи</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">arrow_downward</span>
                    </div>
                    <span class="d-inline my_menu_label">Перейти на рівень нижче</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">arrow_upward</span>
                    </div>
                    <span class="d-inline my_menu_label">Перейти на рівень вище</span>
                </button>
                <button mat-menu-item>
                    <span class="empty-icon d-inline my_menu_label">Знайти: Найменування - Договір {{contractDate}}</span>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">chevron_right</span>
                    </div>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">location_searching</span>
                    </div>
                    <span class="d-inline my_menu_label">Знайти...</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">location_disabled</span>
                    </div>
                    <span class="d-inline my_menu_label">Відмінити пошук</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">settings</span>
                    </div>
                    <span class="d-inline my_menu_label">Настроїти список...</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons"> done_all</span>
                    </div>
                    <span class="d-inline my_menu_label">Вивести список...</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">transform</span>
                    </div>
                    <span class="d-inline my_menu_label">Змінити форму...</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons"> help_outline</span>
                    </div>
                    <span class="d-inline my_menu_label">Довідка</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <!-- DropDown ALL Actions end-->
</div>
<div class="ml-4 mr-4 mt-2 my_table_style">
    <div class="col-md-12 pl-0 pr-0 mb-0 table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="code_column">Код</th>
                    <th scope="col">Найменування</th>
                </tr>
            </thead>
            <tbody>
                <tr class="main">
                    <td class="text-center" scope="row">1</td>
                    <td class="text-center">2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="elements_count >= limit" class="col-md-12 d-flex align-items-center justify-content-center clearfix">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <button class="page-link" aria-label="Previous" (click)="load_cities(0, 20)">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </button>
                </li>
                <li class="page-item" *ngFor="let item of pagination_arr; let index = index" [class.active]="index == current_page">
                    <button class="page-link" (click)="load_cities(index, limit)">{{index + 1}}</button>
                </li>
                <li class="page-item">
                    <button class="page-link" aria-label="Next" (click)="load_cities(0, 20)">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    
    <div class="container-fluid position-absolute d-flex align-items-center justify-content-center clearfix" *ngIf="loader_displayed">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <img src="../../../../../assets/img/loader.gif">
            </div>
        </div>
    </div>