<!-- Modal content-->

<h2 class="ml-4 title_main_page_margin">Фізичні особи конрагентів (створення)
</h2>

<!--Row MENU Buttons -->
<div id="counterpartiesContractPopup" class="ml-4 mr-4 pl-0 pr-0 clearfix">
  <div class="col-md-8 pl-0 pr-0 d-lg-inline d-none float-lg-left">
    <div class="d-inline pl-0 mr-my-1">
      <button type="button" class="btn btn-default my_button_style bold">
        <span class="my_button_label font-weight-bold">Записати та закрити</span>
      </button>
    </div>
    <div class="d-inline mr-my-1">
      <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Записати">
        <span class="material-icons">save</span>
      </button>
    </div>
  </div>
  <!--Container MENU Buttons End-->

  <!-- DropDown ALL Actions -->
  <div class="col-md-4 pl-0 pr-0 float-lg-right float-left">
    <div id="referencesButton" class="d-xl-inline d-none float-right">
      <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Довідка">
        <span class="material-icons">help_outline</span>
      </button>
    </div>
    <div class="allActionsMenu d-inline mr-my-1 float-left float-lg-right">
      <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="menu">Всі дії
        <span class="material-icons">keyboard_arrow_down</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">offline_pin</span>
          </div>
          <span class="d-inline my_menu_label">Записати та закрити</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">save</span>
          </div>
          <span class="d-inline my_menu_label">Записати</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">library_books</span>
          </div>
          <span class="d-inline my_menu_label">Перечитати</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">filter_none</span>
          </div>
          <span class="d-inline my_menu_label">Скопіювати</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">remove_from_queue</span>
          </div>
          <span class="d-inline my_menu_label">Відмітити для вилучення / Зняти позначку</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">delete_sweep</span>
          </div>
          <span class="d-inline my_menu_label">Вилучити</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">playlist_play</span>
          </div>
          <span class="d-inline my_menu_label">Показати у списку</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">transform</span>
          </div>
          <span class="d-inline my_menu_label">Змінити форму...</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">help_outline</span>
          </div>
          <span class="d-inline my_menu_label">Довідка</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <!-- DropDown ALL Actions end-->
</div>
<!--Row MENU Buttons End-->

<!-- IndividualCounterparties Popup Form Container -->
<div class="ml-4 mr-4 mt-4 mb-4">

  <form class="form-horizontal" role="form">
    <div class="row mr-0 ml-0 mb-4 mt-4 text-center">
      <div class="form-group col-12 mr-0 ml-0 pl-0 pb-1 justify-content-center border-bottom border-dark">
        <h6 class="control-label font-weight-bold">Загальні дані</h6>
      </div>
    </div>
    <div class="row ml-0 mr-0">
      <div class="form-group col-12 mr-0 ml-0 p-2 clearfix my_input_style">
        <h4 class="control-label float-left">Стандарт:</h4>
      </div>
      <div class="form-group col-xs-12 col-md-6 col-lg-4 p-2 my_input_style">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Прізвище:" />
        </mat-form-field>
      </div>
      <div class="form-group col-xs-12 col-md-6 col-lg-4 p-2 my_input_style">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Ім'я:" />
        </mat-form-field>
      </div>
      <div class="form-group col-xs-12 col-md-6 col-lg-4 p-2 my_input_style">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="По-батькові:" />
        </mat-form-field>
      </div>
    </div>
    <div class="row ml-0 mr-0">
      <div class="form-group col-12 mr-0 ml-0 p-2 clearfix my_input_style">
        <h4 class="control-label float-left">Місцевий:</h4>
      </div>
      <div class="form-group col-xs-12 col-md-6 col-lg-4 p-2 my_input_style">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Прізвище:" />
        </mat-form-field>
      </div>
      <div class="form-group col-xs-12 col-md-6 col-lg-4 p-2 my_input_style">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Ім'я:" />
        </mat-form-field>
      </div>
      <div class="form-groupcol-xs-12 col-md-6 col-lg-4 p-2 my_input_style">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="По-батькові:" />
        </mat-form-field>
      </div>
    </div>
    <div class="row ml-0 mr-0">
      <div class="form-group col-12 p-2 my_input_style">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Організація:" />
          <button mat-button matSuffix mat-icon-button aria-label="Settings">
            <mat-icon>settings</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row mr-0 ml-0 mt-2">
      <!-- Angular Material Tabs -->
      <mat-tab-group class="col-12 pr-0 pl-0">
        <mat-tab activelabel label="Особиста інформація">
          <div id="document_content" class="mt-5 mb-4">
            <div class="row ml-0 mr-0">
              <div class="form-group col-xs-12 col-sm-6 p-2 my_input_style">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" placeholder="Дата народження:">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-12 col-sm-6 p-2 my_input_style">
                <mat-form-field class="example-form-field">
                  <input matInput type="text" placeholder="ІПН:" />
                </mat-form-field>
              </div>
              <div class="form-group col-12 p-2 my_input_style">
                <mat-form-field class="example-form-field">
                  <input matInput type="text" placeholder="Країна / місце походження:" />
                </mat-form-field>
              </div>
              <div class="form-group col-12 p-2 my_input_style">
                <mat-form-field class="example-form-field">
                  <input matInput type="text" placeholder="Коментар:" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- TAB 1 - END -->

        <mat-tab activelabel label="Список паспортів">
          <div id="document_content" class="mt-5 mb-4">

            <!-- Table Controls -->
            <div class="pl-0 pr-0 clearfix">
              <div class="col-md-10 pl-0 pr-0 d-lg-inline d-none float-lg-left">
                <div class="d-inline pl-0 mr-my-1">
                  <button type="button" class="btn btn-default my_button_style">
                    <span class="material-icons">add</span>
                    <span class="my_button_label">Додати</span>
                  </button>
                </div>
                <div class="d-inline mr-my-1">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Скопіювати">
                    <span class="material-icons">filter_none</span>
                  </button>
                </div>
                <div class="d-inline mr-my-1">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Вилучити">
                    <span class="material-icons">delete_sweep</span>
                  </button>
                </div>
                <div class="d-inline mr-my-1">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Перемістити вверх">
                    <span class="material-icons">arrow_upward</span>
                  </button>
                </div>
                <div class="d-inline mr-my-1">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Перемістити вниз">
                    <span class="material-icons">arrow_downward</span>
                  </button>
                </div>
              </div>
              <!-- Button Row - End -->
              <!-- DropDown ALL Actions -->
              <div class="col-md-2 pl-0 pr-0 float-lg-right float-left">
                <div id="referencesButton" class="d-lg-inline d-none float-right">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Довідка">
                    <span class="material-icons">help_outline</span>
                  </button>
                </div>
                <div class="allActionsMenu d-inline mr-my-1 float-left float-lg-right">
                  <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="menu3">Всі дії
                    <span class="material-icons">keyboard_arrow_down</span>
                  </button>
                  <mat-menu #menu3="matMenu">
                    <button mat-menu-item (click)="openDialog()">
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">add</span>
                      </div>
                      <span class="d-inline my_menu_label">Додати</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">filter_none</span>
                      </div>
                      <span class="d-inline my_menu_label">Скопіювати</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">edit</span>
                      </div>
                      <span class="d-inline my_menu_label">Змінити</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">delete_sweep</span>
                      </div>
                      <span class="d-inline my_menu_label">Вилучити</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">done_all</span>
                      </div>
                      <span class="d-inline my_menu_label">Закінчити редагування</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">location_searching</span>
                      </div>
                      <span class="d-inline my_menu_label">Знайти</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">location_disabled</span>
                      </div>
                      <span class="d-inline my_menu_label">Відмінити пошук</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">arrow_upward</span>
                      </div>
                      <span class="d-inline my_menu_label">Перемістити вверх</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">arrow_downward</span>
                      </div>
                      <span class="d-inline my_menu_label">Перемістити вниз</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">sort</span>
                      </div>
                      <span class="d-inline my_menu_label">Сортувати за зростанням</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons" style="transform: scaleY(-1);">sort</span>
                      </div>
                      <span class="d-inline my_menu_label">Сортувати за спаданням</span>
                    </button>
                    <button mat-menu-item>
                      <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">done_all</span>
                      </div>
                      <span class="d-inline my_menu_label">Вивести список...</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
              <!-- DropDown ALL Actions end-->
            </div>
            <!-- Table Controls - End -->

            <!-- Popup Table -->
            <div class="mt-2 ml-0 mr-0 my_table_style">
              <div class="col-md-12 pl-0 pr-0 mb-0 table-responsive">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="code_column">N</th>
                      <th scope="col">Серія та номер паспорту</th>
                      <th scope="col">Прізвище</th>
                      <th scope="col">Ім'я</th>
                      <th scope="col">Дата випуску</th>
                      <th scope="col">Ким випущений</th>
                      <th scope="col">Країна</th>
                      <th scope="col">Національність</th>
                  </thead>
                  <tbody>
                    <tr class="main">
                      <td class="text-center" scope="row">1</td>
                      <td class="text-center">2</td>
                      <td class="text-center">3</td>
                      <td class="text-center">4</td>
                      <td class="text-center">5</td>
                      <td class="text-center">6</td>
                      <td class="text-center">7</td>
                      <td class="text-center">8</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Popup Table - End -->
          </div>
        </mat-tab>
        <!-- TAB 2 - END -->


        <mat-tab activelabel label="Контактні дані">
          <div id="document_content" class="mt-5 mb-4">
            <div class="row ml-0 mr-0">
              <div class="form-group col-12 p-2 my_input_style">
                <mat-form-field class="example-form-field">
                  <input matInput type="text" placeholder="Електронна адреса:" />
                </mat-form-field>
              </div>

              <div class="form-group col-12 p-2 my_input_style">
                  <mat-form-field class="example-form-field">
                    <input matInput type="text" placeholder="Телефон:" />
                  </mat-form-field>
                </div>

              <div class="form-group col-12 p-2 my_input_style">
                  <mat-form-field class="example-form-field">
                    <input matInput type="text" placeholder="Мобільний:" />
                  </mat-form-field>
                </div>

              <div class="form-group col-12 p-2 my_input_style">
                  <mat-form-field class="example-form-field">
                    <input matInput type="text" placeholder="Факс:" />
                  </mat-form-field>
                </div>

              <div class="form-group col-12 p-2 my_input_style">
                  <mat-form-field class="example-form-field">
                    <input matInput type="text" placeholder="Адреса:" />
                  </mat-form-field>
                </div>

              <div class="form-group col-12 p-2 my_input_style">
                  <mat-form-field class="example-form-field">
                    <input matInput type="text" placeholder="Адреса доставки:" />
                  </mat-form-field>
                </div>

              <div class="form-group col-6 p-2 my_input_style">
                  <mat-form-field class="example-form-field">
                    <input matInput type="text" placeholder="Поштовий індекс:" />
                  </mat-form-field>
                </div>
            </div>
          </div>
        </mat-tab>
        <!-- TAB 3 - END -->

      </mat-tab-group>
      <!-- Angular Material Tabs - End -->
    </div>
  </form>
</div>

<!-- Popup Footer -->
<div id="counterpartiesContractPopupFooter">
  <div class="mr-4 mb-4 float-right">
    <button type="button" class="btn btn-default my_button_style" (click)="closePopup()">
      <span class="pr-3 my_button_label">Закрити</span>
    </button>
  </div>
</div>
<!-- Popup Footer - End -->