/* From GroupInvoicePopup.css */

.mat-checkbox-label {
    font-size: 0.875em !important;
}

.mat-form-field{
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #7db0db !important;
}

::ng-deep .mat-checkbox-frame {
    border: 1px solid grey !important;
}

::ng-deep .mat-ripple-element {
    background: rgba(27, 142, 241, .4) !important;
}

::ng-deep .mat-tab-label-active {
    background-color: #dadde5 !important;
}

::ng-deep .mat-tab-label-content {
    color: black !important;
}

::ng-deep .mat-empty {
    color: black !important;
}

div.my_menu_icon{
    position: relative;
    top: 1px;
    font-size: 0.875rem; /* 14px */
}

span.my_button_label {
    font-weight: normal;
    display: inline-block;
    position: relative;
    bottom: 2px;
    left: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

mat-form-field.custom-form-field{
    padding-top: 0px !important;
    font-size: 0.85rem;
    font-family: 'Roboto', sans-serif !important;
}

.form_button{
    background-color: rgba(192, 199, 214, 0.5);
    border: none;
    border-radius: 4px;
}

.icon_button{
    padding: 0px;
    min-width: 10px;
}
mat-checkbox > label > span.mat-checkbox-label{
    font-size: 0.8rem !important;
}
