<h2 class="ml-4 title_main_page_margin">
    Аеропорти</h2>

<div class="ml-4 mr-4 pl-0 pr-0 clearfix">
    <div class="col-md-10 pl-0 pr-0 d-lg-inline d-none float-lg-left">
        <div class="d-inline pl-0 mr-my-1">
            <button (click)="create_airport(airport)" type="button" class="btn btn-default my_button_style">
                <span class="material-icons">add</span>
                <span class="my_button_label">Створити</span>
            </button>
        </div>
        <div class="d-inline mr-my-1">
            <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Скопіювати" (click)="getAviaInvoiceShort()">
                <span class="material-icons">filter_none</span>
            </button>
        </div>

        <div class="d-inline mr-my-1">
            <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Змінити">
                <span class="material-icons">edit</span>
            </button>
        </div>
        <div class="d-inline mr-my-1">
            <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Відмінити для вилучення/Зняти позначку">
                <span class="material-icons">remove_from_queue</span>
            </button>
        </div>
        <div class="d-inline mr-my-1">
            <button type="button" class="btn btn-default my_button_style">
                <span class="material-icons">location_searching</span>
                <span class="my_button_label">Знайти</span>
            </button>
        </div>
        <div class="d-inline mr-my-1">
            <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Відмінити пошук">
                <span class="material-icons">location_disabled</span>
            </button>
        </div>
        <!-- Button Row - End -->
    </div>
    <!--MENU Buttons End-->
    <!-- DropDown ALL Actions -->
    <div class="col-md-2 pl-0 pr-0 float-lg-right float-left">
        <div id="referencesButton" class="d-lg-inline d-none float-right">
            <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Довідка">
                <span class="material-icons">help_outline</span>
            </button>

        </div>
        <div class="allActionsMenu d-inline mr-my-1 float-left float-lg-right">
            <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="menu">Всі дії
                <span class="material-icons">keyboard_arrow_down</span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog()">
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">add</span>
                    </div>
                    <span class="d-inline my_menu_label">Створити</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">filter_none</span>
                    </div>
                    <span class="d-inline my_menu_label">Скопіювати</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">edit</span>
                    </div>
                    <span class="d-inline my_menu_label">Змінити</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">remove_from_queue</span>
                    </div>
                    <span class="d-inline my_menu_label">Відмітити для вилучення / Зняти позначку</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">delete_sweep</span>
                    </div>
                    <span class="d-inline my_menu_label">Вилучити</span>
                </button>
                <button mat-menu-item (click)="refresh_data()">
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">refresh</span>
                    </div>
                    <span class="d-inline my_menu_label">Оновити</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">access_time</span>
                    </div>
                    <span class="d-inline my_menu_label">Встановити період...</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">offline_pin</span>
                    </div>
                    <span class="d-inline my_menu_label">Провести</span>
                </button>
                <button mat-menu-item>
                    <span class="empty-icon d-inline my_menu_label">Знайти: Найменування {{nomenclatureAirports}}</span>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">chevron_right</span>
                    </div>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">location_searching</span>
                    </div>
                    <span class="d-inline my_menu_label">Знайти...</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">location_disabled</span>
                    </div>
                    <span class="d-inline my_menu_label">Відмінити пошук</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">settings</span>
                    </div>
                    <span class="d-inline my_menu_label">Настроїти список...</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons"> done_all</span>
                    </div>
                    <span class="d-inline my_menu_label">Вивести список...</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons">transform</span>
                    </div>
                    <span class="d-inline my_menu_label">Змінити форму...</span>
                </button>
                <button mat-menu-item>
                    <div class="d-inline mr-3 my_menu_icon">
                        <span class="material-icons"> help_outline</span>
                    </div>
                    <span class="d-inline my_menu_label">Довідка</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <!-- DropDown ALL Actions end-->
</div>
<div class="ml-4 mr-4 mt-2 my_table_style">
    <div class="col-md-12 pl-0 pr-0 mb-0 table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="code-column">Найменування</th>
                    <th scope="col" class="code-column">Код</th>
                    <th scope="col">Найменування російською</th>
                    <th scope="col">Найменування англійською</th>
                    <th scope="col">Найменування українською</th>
                    <th scope="col">Місце російською</th>
                    <th scope="col">Місце англійською</th>
                    <th scope="col">Місце українською</th>
                    <th scope="col">Країна російською</th>
                    <th scope="col">Країна англійською</th>
                    <th scope="col">Країна українською</th>
                    <th scope="col">latitude</th>
                    <th scope="col">longitude</th>
                </tr>
            </thead>
            <tbody>
                <tr class="main" *ngFor="let airport of airports" (dblclick)="edit_airport(airport)">
                    <td class="text-center" scope="row">{{airport.Name}}</td>
                    <td class="text-center">{{airport.Code}}</td>
                    <td class="text-center">{{airport.NameRus}}</td>
                    <td class="text-center">{{airport.NameEng}}</td>
                    <td class="text-center">{{airport.NameUkr}}</td>
                    <td class="text-center">{{airport.PlaceRus}}</td>
                    <td class="text-center">{{airport.PlaceEng}}</td>
                    <td class="text-center">{{airport.PlaceUkr}}</td>
                    <td class="text-center">{{airport.CountryRus}}</td>
                    <td class="text-center">{{airport.CountryEng}}</td>
                    <td class="text-center">{{airport.CountryUkr}}</td>
                    <td class="text-center">{{airport.latitude}}</td>
                    <td class="text-center">{{airport.longitude}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="elements_count >= limit" class="col-md-12 d-flex align-items-center justify-content-center clearfix">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <button class="page-link" aria-label="Previous" (click)="load_airports(0, 20)">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </button>
            </li>
            <li class="page-item" *ngFor="let item of pagination_arr; let index = index" [class.active]="index == current_page">
                    <button class="page-link" (click)="load_airports(index, limit)">{{index + 1}}</button>
            </li>
            <li class="page-item">
                <button class="page-link" aria-label="Next" (click)="load_airports(0, 20)">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </button>
            </li>
        </ul>
    </nav>
</div>

<div class="container-fluid position-absolute d-flex align-items-center justify-content-center clearfix" *ngIf="loader_displayed">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <img src="../../../../../assets/img/loader.gif">
        </div>
    </div>
</div>