<!-- Modal content-->

<h3 style="margin:0;" class="title_main_page_margin">Аеропорти:</h3>
<hr class="mt-2 mb-2" />

<!--Row MENU Buttons -->
<div id="invoicePopup" class="clearfix">
  <div class="col-md-6 pl-0 pr-0 d-inline d-none">

    <button mat-raised-button class="mr-1 form_button">Записати та закрити</button>
    
    <button mat-raised-button class="mr-1 form_button icon_button" matTooltip="Скопіювати">
      <span class="material-icons">filter_none</span>
    </button>

    <button mat-raised-button class="mr-1 form_button icon_button" matTooltip="Скопіювати">
      <span class="material-icons">save</span>
    </button>

    <button mat-raised-button class="mr-1 form_button icon_button" matTooltip="Скопіювати">
      <span class="material-icons">delete</span>
    </button>

  </div>
  <!--Container MENU Buttons End-->

  <!-- DropDown ALL Actions -->
  <div class="col-md-6 pl-0 pr-0 d-inline d-none">

    <button mat-raised-button class="float-right mr-1 form_button icon_button" matTooltip="Довідка">
      <span class="material-icons">help_outline</span>
    </button>

    <div class="allActionsMenu d-inline mr-my-1 float-left float-lg-right">
      <button mat-raised-button class="mr-1 form_button" [matMenuTriggerFor]="menu">Всі дії
        <span class="material-icons">keyboard_arrow_down</span>
      </button>
      
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">offline_pin</span>
          </div>
          <span class="d-inline my_menu_label">Записати та закрити</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">save</span>
          </div>
          <span class="d-inline my_menu_label">Записати</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">library_books</span>
          </div>
          <span class="d-inline my_menu_label">Перечитати</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">filter_none</span>
          </div>
          <span class="d-inline my_menu_label">Скопіювати</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">remove_from_queue</span>
          </div>
          <span class="d-inline my_menu_label">Відмітити для вилучення / Зняти позначку</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">delete_sweep</span>
          </div>
          <span class="d-inline my_menu_label">Вилучити</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">playlist_play</span>
          </div>
          <span class="d-inline my_menu_label">Показати у списку</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">transform</span>
          </div>
          <span class="d-inline my_menu_label">Змінити форму...</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">help_outline</span>
          </div>
          <span class="d-inline my_menu_label">Довідка</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <!-- DropDown ALL Actions end-->
</div>
<!--Row MENU Buttons End-->

<!-- Airport Popup Form Container -->
<div class="mt-3 mb-1">
  <form class="form-horizontal" role="form">
    <div class="row mr-0 ml-0">

      <mat-form-field class="col-3 pr-1 pl-1 custom-form-field">
        <input [(ngModel)]="airport.name" name="name" matInput placeholder="Найменування:">
      </mat-form-field>

      <mat-form-field class="col-3 pr-1 pl-1 custom-form-field">
        <input [(ngModel)]="airport.name_rus" name="name_rus" matInput placeholder="Найменування російською:">
      </mat-form-field>

      <mat-form-field class="col-3 pr-1 pl-1 custom-form-field">
        <input [(ngModel)]="airport.name_eng" name="name_eng" matInput placeholder="Найменування англійською:">
      </mat-form-field>

      <mat-form-field class="col-3 pr-1 pl-1 custom-form-field">
        <input [(ngModel)]="airport.name_ukr" name="name_ukr" matInput placeholder="Найменування українською:">
      </mat-form-field>

    </div>

    <div class="row mr-0 ml-0">
      <mat-form-field class="col-3 pr-1 pl-1 custom-form-field">
        <input [(ngModel)]="airport.place_rus" name="place_rus" matInput placeholder="Місце російською:">
      </mat-form-field>

      <mat-form-field class="col-3 pr-1 pl-1 custom-form-field">
        <input [(ngModel)]="airport.place_eng" name="place_eng" matInput placeholder="Місце англійською:">
      </mat-form-field>

      <mat-form-field class="col-3 pr-1 pl-1 custom-form-field">
        <input [(ngModel)]="airport.place_ukr" name="place_ukr" matInput placeholder="Місце українською:">
      </mat-form-field>
      
      <mat-form-field class="col-3 pr-1 pl-1 custom-form-field">
        <input [(ngModel)]="airport.country_rus" name="country_rus" matInput placeholder="Країна російською:">
      </mat-form-field>

    </div>

    <div class="row mr-0 ml-0">

      <mat-form-field class="col-3 pr-1 pl-1 custom-form-field">
        <input [(ngModel)]="airport.country_eng" name="country_eng" matInput placeholder="Країна англійською:">
      </mat-form-field>

      <mat-form-field class="col-3 pr-1 pl-1 custom-form-field">
        <input [(ngModel)]="airport.country_ukr" name="country_ukr" matInput placeholder="Країна українською:">
      </mat-form-field>

      <mat-form-field class="col-3 pr-1 pl-1 custom-form-field">
        <input [(ngModel)]="airport.latitude" name="latitude" matInput placeholder="latitude:">
        <button mat-button matSuffix mat-icon-button aria-label="Settings">
          <mat-icon>language</mat-icon>
        </button>
      </mat-form-field>
      
      <mat-form-field class="col-3 pr-1 pl-1 custom-form-field">
        <input [(ngModel)]="airport.longitude" name="longitude" matInput  placeholder="longitude:">
        <button mat-button matSuffix mat-icon-button aria-label="Settings">
          <mat-icon>language</mat-icon>
        </button>
      </mat-form-field>
    
    </div>
  </form>
</div>

<!-- Popup Footer -->
<div id="invoiceModalFooter">
  <div class="float-right d-inline">
    <button (click)="close_dialog(airport)" mat-raised-button color="warn">Закрити</button>
  </div>
</div>
<!-- Popup Footer - End -->