
<h2 class="ml-4 title_main_page_margin">
    Накладна туризм
</h2>
  
<div class="ml-4 mr-4 pl-0 pr-0  clearfix">
<div class="col-md-10 pl-0 pr-0 d-lg-inline d-none float-lg-left">
    <div class="d-inline pl-0 mr-my-1">
    <button (click)="create_invoice()" type="button" class="btn btn-default my_button_style">
        <span class="material-icons">add</span>
        <span class="my_button_label">Створити</span>
    </button>
    </div>

    <div class="d-inline mr-my-1">
    <button type="button" class="btn btn-default my_button_style my_square_button" title="Скопіювати" data-placement="top">
        <span class="material-icons">filter_none</span>
    </button>
    </div>

    <div class="d-inline mr-my-1">
    <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Змінити">
        <span class="material-icons">edit</span>
    </button>
    </div>

    <div class="d-inline mr-my-1">
    <button (click)="load_invoices_data()" type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Оновити">
        <span class="material-icons">refresh</span>
    </button>
    </div>

    <div class="d-inline mr-my-1">
    <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Записати">
        <span class="material-icons">save</span>
    </button>
    </div>
    <div class="d-inline mr-my-1">
    <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Відмінити для вилучення/Зняти позначку">
        <span class="material-icons">remove_from_queue</span>
    </button>
    </div>
    <div class="d-inline mr-my-1">
    <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Встановити період...">
        <span class="material-icons">access_time</span>
    </button>
    </div>
    <div class="d-inline mr-my-1">
    <button type="button" class="btn btn-default my_button_style">
        <span class="material-icons">location_searching</span>
        <span class="my_button_label">Знайти</span>
    </button>
    </div>
    <div class="d-inline mr-my-1">
    <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Відмінити пошук">
        <span class="material-icons">location_disabled</span>
    </button>
    </div>
    <div class="d-inline mr-my-1">
    <button type="button" class="btn btn-default my_button_style">
        <span class="material-icons"> filter_tilt_shift</span>
        <span class="my_button_label">Підбір</span>
    </button>
    </div>
    <div class="d-inline mr-my-1">
    <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="PrintMenu">
        <span class="printDropdownButton">Друк</span>
        <span class="material-icons">keyboard_arrow_down</span>
    </button>
    <mat-menu #PrintMenu="matMenu">
        <button mat-menu-item class="my_menu_label">Друк акта</button>
        <button mat-menu-item class="my_menu_label">Друк накладної</button>
        <button mat-menu-item class="my_menu_label">Друк рахунка</button>
        <button mat-menu-item class="my_menu_label">Друк рахунка з печаткою</button>
    </mat-menu>
    </div>
    <!-- Button Row - End -->
</div>
<!--MENU Buttons End-->
<!-- DropDown ALL Actions -->
<div class="col-md-2 pl-0 pr-0 float-lg-right float-left">
    <div id="referencesButton" class="d-lg-inline d-none float-right">
    <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Довідка">
        <span class="material-icons">help_outline</span>
    </button>

    </div>
    <div class="allActionsMenu d-inline mr-my-1 float-left float-lg-right">
    <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="menu">Всі дії
        <span class="material-icons">keyboard_arrow_down</span>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">add</span>
        </div>
        <span class="d-inline my_menu_label">Створити</span>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">filter_none</span>
        </div>
        <span class="d-inline my_menu_label">Скопіювати</span>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">edit</span>
        </div>
        <span class="d-inline my_menu_label">Змінити</span>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">remove_from_queue</span>
        </div>
        <span class="d-inline my_menu_label">Відмітити для вилучення / Зняти позначку</span>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">refresh</span>
        </div>
        <span class="d-inline my_menu_label">Оновити</span>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">access_time</span>
        </div>
        <span class="d-inline my_menu_label">Встановити період...</span>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">offline_pin</span>
        </div>
        <span class="d-inline my_menu_label">Провести</span>
        </button>
        <button mat-menu-item>
        <span class="empty-icon d-inline my_menu_label">Знайти: Дата - 14.08.2018</span>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">chevron_right</span>
        </div>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">location_searching</span>
        </div>
        <span class="d-inline my_menu_label">Знайти...</span>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">location_disabled</span>
        </div>
        <span class="d-inline my_menu_label">Відмінити пошук</span>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">settings</span>
        </div>
        <span class="d-inline my_menu_label">Настроїти список...</span>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons"> done_all</span>
        </div>
        <span class="d-inline my_menu_label">Вивести список...</span>
        </button>
        <button mat-menu-item>
        <span class="empty-icon d-inline my_menu_label">Друк</span>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">chevron_right</span>
        </div>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons"> filter_tilt_shift</span>
        </div>
        <span class="d-inline my_menu_label">Підбір</span>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">transform</span>
        </div>
        <span class="d-inline my_menu_label">Змінити форму...</span>
        </button>
        <button mat-menu-item>
        <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons"> help_outline</span>
        </div>
        <span class="d-inline my_menu_label">Довідка</span>
        </button>
    </mat-menu>
    </div>
</div>
<!-- DropDown ALL Actions end-->
</div>
<div class="ml-4 mr-4 mt-2 my_table_style">
    <div style="overflow-x: scroll" class="col-md-12 pl-0 pr-0 mb-0 table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
        <table class="table table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Дата</th>
            <th scope="col">Номер</th>
            <th scope="col">Повернення</th>
            <th scope="col">Опл.</th>
            <th scope="col">Контрагент</th>
            <th scope="col">Вид сервісу</th>
            <th scope="col">Групове замовлення</th>
            <th scope="col">Зміст</th>
            <th scope="col">Постачальник</th>
            <th scope="col">Сума</th>
            <th scope="col">В т.ч.ПДВ</th>
            <th scope="col">Коментар</th>
            <th scope="col">Агент</th>
            <th scope="col">Відповідальний</th>
            <th scope="col">Підсумкова валюта</th>
            <th scope="col">На дату</th>
            <th scope="col">Дата купівлі у постачальника</th>
            <th scope="col">Форма сплати</th>
            <th scope="col">Дата сплати</th>
            <th scope="col">Оброблено</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of train_invoices" (dblclick)="edit_invoice(invoice._id)" class="main">
                <!-- Date -->
                <td class="text-center" scope="row">{{ invoice.date | date: 'dd/MM/yyyy H:mm:ss' }}</td>
                <!-- Number -->
                <td class="text-center">{{ invoice.number }}</td>
                <!-- Is returned -->
                <td class="text-center">
                    <mat-checkbox primary [disabled]="true">Повернення</mat-checkbox>
                </td>
                <!-- Is paid -->
                <td class="text-center">
                    <mat-checkbox [(ngModel)]="invoice.is_paid" [disabled]="true" primary>Опл</mat-checkbox>
                </td>
                <td class="text-center">Контрагент</td>
                <td class="text-center">Вид сервісу</td>
                <td class="text-center">Групове замовлення</td>
                <td class="text-center" matTooltip="">Зміст</td>
                <!-- Provider id -->
                <td class="text-center">Постачальник</td>
                <!-- Total amount -->
                <td class="text-center">Сума</td>
                <!-- MPE -->
                <td class="text-center">В т.ч.ПДВ</td>
                <!-- Comment -->
                <td class="text-center">Коментар</td>
                <!-- Agent -->
                <td class="text-center">Агент</td>
                <!-- Responsible Agent -->
                <td class="text-center">Відповідальний</td>
                <!-- Total Currency -->
                <td class="text-center">Підсумкова валюта</td>
                <td class="text-center">На дату</td>
                <td class="text-center">Дата купівлі у постачальника</td>
                <td class="text-center">Форма сплати</td>
                <td class="text-center">Дата сплати</td>
                <td class="text-center">
                    <mat-checkbox class="" primary [(ngModel)]="invoice.is_processed" [disabled]="true">Оброблено</mat-checkbox>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
  
<div class="container-fluid position-absolute d-flex align-items-center justify-content-center clearfix" *ngIf="is_loader_displayed">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div id="circularG">
        <div id="circularG_1" class="circularG"></div>
        <div id="circularG_2" class="circularG"></div>
        <div id="circularG_3" class="circularG"></div>
        <div id="circularG_4" class="circularG"></div>
        <div id="circularG_5" class="circularG"></div>
        <div id="circularG_6" class="circularG"></div>
        <div id="circularG_7" class="circularG"></div>
        <div id="circularG_8" class="circularG"></div>
      </div>
    </div>
  </div>
</div>