<!-- Modal content-->

<h2 class="ml-4 title_main_page_margin">Куратори (створення) *
</h2>

<!--Row MENU Buttons -->
<div id="counterpartiesContractPopup" class="ml-4 mr-4 pl-0 pr-0 clearfix">
  <div class="col-md-8 pl-0 pr-0 d-lg-inline d-none float-lg-left">
    <div class="d-inline pl-0 mr-my-1">
      <button type="button" class="btn btn-default my_button_style bold" (click)="save_and_close(curator)">
        <span class="my_button_label font-weight-bold">Записати та закрити</span>
      </button>
    </div>
    <div class="d-inline mr-my-1">
      <button type="button" class="btn btn-default my_button_style my_square_button" (click)="save_update_curator(curator)" matTooltip="Записати">
        <span class="material-icons">save</span>
      </button>
    </div>
    <div class="d-inline mr-my-1">
      <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Видалити" (click)="remove_curator(curator._id)">
        <span class="material-icons">remove</span>
      </button>
    </div>
  </div>
  <!--Container MENU Buttons End-->

  <!-- DropDown ALL Actions -->
  <div class="col-md-4 pl-0 pr-0 float-lg-right float-left">
    <div id="referencesButton" class="d-xl-inline d-none float-right">
      <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Довідка">
        <span class="material-icons">help_outline</span>
      </button>
    </div>
    <div class="allActionsMenu d-inline mr-my-1 float-left float-lg-right">
      <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="menu">Всі дії
        <span class="material-icons">keyboard_arrow_down</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">offline_pin</span>
          </div>
          <span class="d-inline my_menu_label">Записати та закрити</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">save</span>
          </div>
          <span class="d-inline my_menu_label">Записати</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">library_books</span>
          </div>
          <span class="d-inline my_menu_label">Перечитати</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">filter_none</span>
          </div>
          <span class="d-inline my_menu_label">Скопіювати</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">remove_from_queue</span>
          </div>
          <span class="d-inline my_menu_label">Відмітити для вилучення / Зняти позначку</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">delete_sweep</span>
          </div>
          <span class="d-inline my_menu_label">Вилучити</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">playlist_play</span>
          </div>
          <span class="d-inline my_menu_label">Показати у списку</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">transform</span>
          </div>
          <span class="d-inline my_menu_label">Змінити форму...</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">help_outline</span>
          </div>
          <span class="d-inline my_menu_label">Довідка</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <!-- DropDown ALL Actions end-->
</div>
<!--Row MENU Buttons End-->

<!-- Airport Popup Form Container -->
<div class="ml-4 mr-4 mt-4 mb-4">
  <form class="form-horizontal" role="form">
    <div class="row mr-0 ml-0">
      <div class="form-group col-10 p-2 my_input_style">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Найменування:" [(ngModel)]="curator.Name" name="Name" />
        </mat-form-field>
      </div>
      <div class="form-group col-2 p-2 my_input_style">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Код:" [(ngModel)]="curator.Number" name="Code" />
        </mat-form-field>
      </div>
      <div class="form-group col-12 p-2 my_input_style">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Кліент:" aria-label="Number" matInput [formControl]="counterparty_names_control" [matAutocomplete]="auto"
            [(ngModel)]="client" name="Client" (keyup)="load_couterparty_names(client)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let counterparty_name of counterparty_names" [value]="counterparty_name.Name" (click)="curator.ClientId=counterparty_name._id">
              {{counterparty_name.Name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<!-- Popup Footer -->
<div id="counterpartiesContractPopupFooter">
  <div class="mr-4 mb-4 float-right">
    <button type="button" class="btn btn-default my_button_style" (click)="close_dialog(curator)">
      <span class="pr-3 mb-4 my_button_label">Закрити</span>
    </button>
  </div>
</div>
<!-- Popup Footer - End -->